# -----------------------------
# Laravel
# -----------------------------
/vendor
/node_modules
/public/build
/public/hot
/storage/*.key
/storage/pail
/bootstrap/cache/*.php

# Project exclude paths
/bootstrap/cache/
/storage/app/
/storage/framework/

# -----------------------------
# Environment Files
# -----------------------------
.env
.env.backup
.env.production
.env.staging

# -----------------------------
# Logs & Debug
# -----------------------------
/storage/logs/*
npm-debug.log
yarn-error.log
pnpm-debug.log

# -----------------------------
# IDE / Editors
# -----------------------------
.idea
.vscode
.fleet
.zed
/.idea
/.vscode
/.fleet

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Testing
# -----------------------------
.phpunit.cache
/.phpunit.cache
.phpunit.result.cache


# -----------------------------
# Laravel Tools
# -----------------------------
/public/storage
Homestead.json
Homestead.yaml
auth.json

# -----------------------------
# Cache / Temporary
# -----------------------------
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/debugbar/*
/storage/temp/*

# -----------------------------
# Build Files
# -----------------------------
/dist
/.vite


# -----------------------------
# Optional
# -----------------------------
.phpactor.json
composer.lock
package-lock.json

# -----------------------------
# Generated Screenshots
# -----------------------------
/public/screenshots/*.png
/public/screenshots/*.jpg
/public/screenshots/*.jpeg


